.uk-container{
width :100%;
}
#container {
  position: relative;
  height:100%;
}
#nav, #footer{
  color:#FFF;
  background-color:#000;
  height:49px;
  ul {
    margin-left:15px;
  }
  a {
    color:#FFF;
    &:hover {
     color:#777;
    }
    &:visited {
      color:#777;
    }
  }
}
#nav {
box-shadow:0 4px 5px #555;
}
footer {
  position: absolute;
  width:100%;
  bottom:0%;
  ul {
    margin:0;
    padding:0;
  }
}

#footer li {
  display: inline-block;
  list-style:none;
}
