%ul.uk-hidden-small
  %li
    .uk-icon-gamepad
    %a{:href => "/login"} ログイン
  %li
    .uk-icon-gamepad
    %a{:href => "/register"} 登録
  %li
    .uk-icon-gamepad
    %a{:href => "/me"} マイページ
  %li
    .uk-icon-gamepad
    %a{:href => "/games"} ゲームタイトル追加
  %li
    .uk-icon-gamepad
    %a{:href => "/admin/users"} ユーザ管理
#my-id.uk-offcanvas
  .uk-offcanvas-bar
    %ul
      %li
        .uk-icon-gamepad
        %a{:href => "/login"} ログイン
      %li
        .uk-icon-gamepad
        %a{:href => "/register"} 登録
      %li
        .uk-icon-gamepad
        %a{:href => "/me"} マイページ
      %li
        .uk-icon-gamepad
        %a{:href => "/games"} ゲームタイトル追加
      %li
        .uk-icon-gamepad
        %a{:href => "/admin/users"} ユーザ管理