%ul#nav
  %li
    %a{'href'=>'/'}
      %img{'src'=>'/app/assets/images/logo.png'}
  %li
    %a{'href'=>'/login'} ログイン
  %li
    %a{'href'=>'/register'} 登録
  %li
    %a{'href'=>'/me'} マイページ
  %li
    %a{'href'=>'/games'} ゲームタイトル追加
  %li
    %a{'href'=>'/admin/users'} ユーザ管理
